
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta name="format-detection" content="telephone=no" />

    <!-- Responsive Mobile-First Email Template by Konstantin Savchenko, 2015.
    https://github.com/konsav/email-templates/  -->

    <style>
        /* Reset styles */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            width: 100% !important;
            height: 100% !important;
        }

        body, table, td, div, p, a {
            -webkit-font-smoothing: antialiased;
            text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 100%;
        }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            border-collapse: collapse !important;
            border-spacing: 0;
        }

        img {
            border: 0;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        /* Rounded corners for advanced mail clients only */
        @@media all and (min-width: 560px) {
            .container {
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -khtml-border-radius: 8px;
            }
        }

        /* Set color for auto links (addresses, dates, etc.) */
        a, a:hover {
            color: #127DB3;
        }

        .footer a, .footer a:hover {
            color: #999999;
        }
        body {
            font-family: sans-serif;
            background: #fff;
        }

        .email--background {
            background: #eee;
            padding: 10px;
            text-align: center;
        }

        .email--container, .pre-header {
            max-width: 500px;
            background: #fff;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 5px;
        }

        .email--inner-container {
            padding: 0 5% 40px;
        }

        .pre-header {
            background: #eee;
            color: #eee;
            font-size: 5px;
        }

        img {
            max-width: 100%;
            display: block;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #a2a2a2;
            margin-bottom: 30px;
        }

        .cta {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            background: #373629;
            text-decoration: none;
            letter-spacing: 2px;
            text-transform: uppercase;
            border-radius: 5px;
            font-size: 13px;
        }

        .footer-junk {
            padding: 20px;
            font-size: 10px;
        }

            .footer-junk a {
                color: #bbbbbb;
            }

    </style>

    <!-- MESSAGE SUBJECT -->
    <title>Get this responsive email template</title>

</head>

<body>
    <div class="email--background">

        <div class="pre-header">
            This is a responsive email template that I knocked up whilst waiting to hear back about a job that I was interviewed for last week...
        </div>

        <div class="email--container">
            <img src="https://images.unsplash.com/photo-1473042904451-00171c69419d?auto=format&fit=crop&w=600&q=600">

            <div class="email--inner-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsum deserunt minima animi atque praesentium, harum quaerat velit sed quos.</p>
                <a href="#" class="cta">Click here</a>
            </div>

        </div>

        <div class="footer-junk">
            <a href="#">Unsubscribe</a>
        </div>

    </div>

</body>